.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @include min480 {
        width: 480px;
    }

    @include min768 {
        width: 768px;
    }

    @include min1200 {
        width: 1200px;
    }
}

.header__container {
    @include flex(space-between, center);
    height: 100%;
}

.footer__container {
    @include flex(null, center, column);
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;

    @include min768 {
        @include flex(space-between, flex-start, row);
    }

    @include min1200 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}