.delivery__list {
    @include flex(null, null, column);
    gap: 10px;
    width: 100%;
    margin: 0 auto;

    @include min1200 {
        width: 738px;
    }
}

.delivery__item {
    background-color: #F6F6F6;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 250ms $animate;

    &:hover,
    &:focus {
        box-shadow: $cardShadow;
    }
}

.delivery__subheading-wrapper {
    @include flex(space-between, center);
    color: $primaryTextColor;
    cursor: pointer;
    padding: 15px;
    transition: color 250ms $animate;

    @include min768 {
        padding: 30px;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.delivery__subheading {
    @include font(16px, 700);
    
    @include min768 {
        @include font(18px, null);
    }

    @include min1200 {
        @include font(21px, null);
    }
}

.delivery__accordion-arrow {
    position: relative;
    width: 15px;
    height: 15px;
    fill: currentColor;
    transition: transform 250ms $animate;

    &.is-opened {
        transform: rotate(180deg);
    }
}

.delivery__content {
    overflow: hidden;
    max-height: 1000px;
    padding: 0 15px 0 15px;
    @include font(16px, 300);
    transition: max-height 300ms $animate;

    @include min768 {
        padding: 0 30px 0 30px;
        @include font(18px, null);
    }

    @include min1200 {
        @include font(21px, null);
    }

    &.delivery__content--is-hidden {
        max-height: 0;
    }
}

.delivery__text {
    position: relative;    
    transform: scale(1);
    opacity: 1;
    padding-bottom: 15px;
    transition: all 550ms $animate;
    
    @include min768 {
        padding-bottom: 30px;
    }

    &.delivery__text--is-hidden {
        transform: scale(0);
        opacity: 0;
    }
}

.delivery__text--inner-text {
    margin-bottom: 15px;

    @include min768 {
        margin-bottom: 30px;
    }
}

.delivery__bold {
    font-weight: 500;
}

.delivery__text-list {
    @include flex(null, null, column);
    gap: 10px;
}
