.app-footer {
    background-color: $footerBg;
    @include font(16px, 500);
}

.footer__logo {
    width: auto;
    height: 60px;
}

.footer__contacts-list {
    @include flex(center, center, column);
    gap: 10px;

    @include min768 {
        @include flex(flex-start, flex-start, column);
    }
}

.footer__contacts-link {
    color: $secondaryTextColor;
    transition: color 250ms $animate;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.footer__messengers-wrapper,
.footer__social-wrapper {
    @include flex(null, center, column);
    gap: 10px;

    @include min768 {
        @include flex(flex-start, flex-start, column);
    }
}

.footer__messengers-cta,
.footer__social-cta {
    color: $secondaryTextColor;
}

.footer__messengers-list,
.footer__social-list {
    @include flex(center, center);
    gap: 10px;
}

.footer__messengers-link {
    @include flex(center, center);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    .footer__messengers-item:nth-child(1)>& {
        background-color: #675DA9;
    }

    .footer__messengers-item:nth-child(2)>& {
        background-color: #29A9EA;
    }

    .footer__messengers-item:nth-child(3)>& {
        background-color: #0084FF;
    }
}

.footer__messengers-img,
.footer__messengers-img {
    width: 25px;
    height: 25px;
}

.footer__social-link {
    @include flex(center, center);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3C5A9A;
}
