// Хедер
.app-header {
    position: relative;
    height: 100px;
    // box-shadow: $buttonShadow;
}

// Логотип хедера
.header__logo {
    width: auto;
    height: 60px;
}

// Контакти хедера
.header__contacts-list {
    display: none;

    @include min768 {
        @include flex(null, center);
        @include font(18px, 500);
        gap: 50px;
    }
}

.header__contacts-link {
    padding: 30px 0;
    color: $primaryTextColor;
    transition: color 250ms $animate;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

// Месенджери хедера
.header__messengers-list {
    display: none;

    @include min768 {
        @include flex(null, center);
        gap: 10px;
    }
}

.header__messengers-link {
    @include flex(center, center);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $grayScale;
    transition: background-color 250ms $animate;
}

.header__messengers-img {
    width: 25px;
    height: 25px;
}

.header__messengers-item:nth-child(1)>.header__messengers-link:hover,
.header__messengers-item:nth-child(1)>.header__messengers-link:focus {
    background-color: #675DA9;
}

.header__messengers-item:nth-child(2)>.header__messengers-link:hover,
.header__messengers-item:nth-child(2)>.header__messengers-link:focus {
    background-color: #29A9EA;
}

.header__messengers-item:nth-child(3)>.header__messengers-link:hover,
.header__messengers-item:nth-child(3)>.header__messengers-link:focus {
    background-color: #0084FF;
}
