.hero {
    position: relative;
    padding-bottom: 60px;

    @include min1200 {
        padding-bottom: 100px;
    }
}

.hero__container {
    @include flex(center, center);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    @include min768 {
        max-height: 500px;
    }

    @include min1200 {
        max-width: 1600px;
        max-height: 700px;
    }
}

.hero__img {
    width: 100%;
}

.hero__title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    @include flex(null, null, column);
    font-family: 'Montserrat', sans-serif;
    @include font(20px, 700);

    @include min480 {
        left: 8%;
        @include font(26px, null);
    }

    @include min768 {
        left: 10%;
        @include font(40px, null);
    }

    @include min1200 {
        @include font(60px, null);
    }
}
