.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;

    @include min768 {
        gap: 30px;
    }

    @include min1200 {
        margin-bottom: 50px;
    }
}

.products__item {
    width: calc((100% - 10px) / 2);
    border: 1px solid $productsAccentColor;
    border-radius: 4px;
    overflow: hidden;
    cursor: help;
    transition: box-shadow 250ms $animate;

    @include min768 {
        width: calc((100% - 30px) / 2);
    }

    @include min1200 {
        width: calc((100% - 60px) / 3);
    }

    &:hover,
    &:focus {
        box-shadow: $cardShadow;
    }
}

.products__img-box {
    position: relative;
    overflow: hidden;
}

.products__img {
    width: 100%;
    height: auto;
}

.products__description {
    position: absolute;
    @include flex(center, center);
    @include font(14px, 300);
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $transparentAccent;
    transform: translateY(101%);
    color: $secondaryTextColor;
    transition: transform 250ms $animate;

    .products__item:hover &,
    .products__item:focus & {
        transform: translateY(0);
    }

    @include min480 {
        @include font(16px, null);
    }

    @include min768 {
        padding: 30px;
        @include font(18px, null);
    }

    @include min1600 {
        @include font(26px, null);
    }
}

.products__text-box {
    padding: 15px;

    @include min768 {
        padding: 30px;
    }
}

.products__heading {
    @include font(16px, 700);
    margin-bottom: 15px;

    @include min768 {
        @include font(18px, null);
        margin-bottom: 20px;
    }

    @include min1600 {
        @include font(28px, null);
    }
}

.products__price {
    @include font(21px, 700);
    color: $accentColor;

    @include min768 {
        @include font(24px, null);
    }

    @include min1600 {
        @include font(32px, null);
    }
}

// Обгортка кнопки
.btn-wrapper {
    @include flex(center, center);
}
