.section {
    padding-bottom: 60px;

    @include min1200 {
        padding-bottom: 100px;
    }
}

.section__title {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    @include font(24px, 500);
    text-align: center;

    @include min768 {
        @include font(28px, null);
    }

    @include min1200 {
        margin-bottom: 50px;
        @include font(36px, null);
    }
}
