// Кольори
$accentColor: #5E6A29;
$transparentAccent: rgba(94, 106, 41, 0.7);
$primaryTextColor: #4F5255;
$secondaryTextColor: #fff;
$grayScale: #9D9D9C;
$productsAccentColor: #DADADA;
$footerBg: #1D1D1B;

// Тіні
$buttonShadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
$cardShadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

// Анімація
$animate: cubic-bezier(0.4, 0, 0.2, 1);
